@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Barlow Semi Condensed", sans-serif;
  }
}

body {
  @apply bg-gradient-to-b from-general-bg-color-from relative to-general-bg-color-to;
}

.section-game {
  @apply min-h-[70vh]  px-2 flex justify-center items-center flex-col;
}
